@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  background:     #2c2c2c;
  color:          #0A8A0A;
  font-family:    "Droid Sans Mono Dotted", Monospaced !important;
}

#container {
  background:     #2c2c2c;
  position:       absolute;
  width:          100%;
  height:         100%;
}

#content {
  background:     black;
  font-size:      20px;
}

#trailer {
  postition:      absolute;
  height:         5%;
  width:          100%;
  //background-image: url("../images/background/level0.gif");
}

#login {
  width:          400px;
  float:          none;
  margin-left:    auto;
  margin-right:   auto;
  margin-top:     30%;
}

.title {
  font-size:      42px;
  text-align:     center;
}

.pan {
  marquee-speed: fast;
}

.form-control {
  color:          #0A8A0A;
  font-size:      18px;
}

.btn-default {
  color:          #0A8A0A;
  font-size:      18px;
}

/* Large desktop */
@media (min-width: 800px) {
  #content {
    width:        800px;
    height:       800px;
    float:        none;
    margin-left:  auto;
    margin-right: auto;
  }
}

/* Landscape phones and down */
@media (max-width: 800px) {
  #content {
    background:   deeppink;
    width:        100%;
    height:       100%;
  }
}
